@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* 화면 초기화 */
* {
	margin: 0px;
	padding: 0px;
}
ul,ol,li {
	list-style: none;
}
a {
	text-decoration: none;
}
