@charset "utf-8";

/* 3d transform */
section {
	width: 200px;
	height: 200px;
	border: 1px solid #000;
	float: left;
	margin: 50px;
	perspective: 400px;
}
section article {
	width: 100%;
	height: 100%;
	background: blue;
	opacity: 0.3;
}
section:nth-of-type(1) article {
	transform: rotateX(45deg);
}
section:nth-of-type(2) article {
	transform: rotateY(45deg);
}
section:nth-of-type(3) article {
	transform: translateZ(100px);
}
section:nth-of-type(4) article {
	transform: translateZ(-100px);
}
