@charset "utf-8";

/* transform origin */
section {
  width: 200px; 
  height: 200px; 
  border: 1px solid #000;
  float: left; 
  margin: 100px; 
  perspective: 600px;
}
section article {
  width: 100%; 
  height: 100%; 
  background: blue; 
  opacity: 0.3;  
} 
section:nth-of-type(1) article {
  transform: rotateY(120deg);
  transform-origin: center center;
}
section:nth-of-type(2) article {
  transform: rotateY(120deg);
  transform-origin: right center;
}