@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Orbitron');

* { 
    margin: 0;  
    padding: 0;
}
ol,ul {
    list-style: none;
}
a { 
    outline: 0; 
    text-decoration: none; 
}
img {
    border: 0;
}
body { 
    font: 17px/1.4 "orbitron"; 
    letter-spacing: 1px; 
    color: #ddd;
    background: #000; 
}
.wrap {
    position: fixed; 
    width: 100%; 
    height: 100%; 
    perspective: 1300px;  
}
.wrap>video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: fixed; 
    opacity: 0.5;
}

@keyframes ani {
    0% {transform: rotateY(0deg);}
    100% {transform: rotateY(360deg);}
}

.wrap #circle {
    width: 600px; 
    height: 800px; 
    position: absolute; 
    top: 50%; 
    left: 50%;
    margin-top: -400px;  
    margin-left: -300px; 
    transform-style: preserve-3d;
    animation: ani linear 40s infinite;    
}

/* common ui */
.wrap #circle article {
    width: 100%; 
    height: 100%; 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    backface-visibility: hidden;
}
.wrap #circle article  h1 {
    position: absolute; 
    left: 0px;
    top: 0px;
    font-size: 30px;
    opacity: 0;
    transition: all 0.5s;
}
.wrap #circle article:hover h1 {
    top: -60px;
    opacity: 1;
}
.wrap #circle article .inner {
    width: 100%; 
    height: 100%;  
}
.wrap #circle article .inner>div {
    width: 100%; 
    height: 100%;
    border: 1px solid rgba(255,255,255,0.5); 
    box-sizing: border-box; 
    background: rgba(255,255,255,0.06);      
    padding: 50px; 
    position: relative; 
    opacity: 0.7; 
    overflow: hidden; 
    cursor: pointer;
    transition: all 0.5s; 
}
.wrap #circle article .inner>div:hover { 
    background: rgba(255,255,255,0.15); 
    transform: scale(1.03); 
    opacity: 1;
}
.wrap #circle article .inner>div h2 {
    transition: all 0.5s;
}
.wrap #circle article .inner>div i {
    transition: all 0.5s;
}
.wrap #circle article .inner>div:hover h2  {
    color: lightcyan; 
    text-shadow: 0px 0px 10px aqua;    
}
.wrap #circle article .inner>div:hover i {
    color: lightcyan; 
    text-shadow: 0px 0px 10px aqua; 
    transform: scale(1.2); 
}



/*face1*/
.wrap #circle .face1 .inner>div {
    width: 290px; 
    height: 254px; 
    float: left; 
    margin-bottom: 20px; 
    text-align: center;
}
.wrap #circle .face1 .inner>div p i {
    font-size: 100px; 
    transition: all 0.5s; 
    opacity: 0.7;
}
.wrap #circle .face1 .inner>div h2 {
    margin-top: 20px; 
    letter-spacing: 2px; 
    transition: all 0.5s;
}
.wrap #circle .face1 .inner>div:nth-of-type(odd) {
    margin-right:20px;
}


/*face2*/
.wrap #circle .face2 .inner>div {
    width: 100%; 
    height: 100%;
}
.wrap #circle .face2 .inner>div img {
    width: 100%; 
    margin-top: 30px;
    margin-bottom: 40px; 
}
.wrap #circle .face2 .inner>div h3 {
    color: #fff; 
    margin-bottom: 20px;
}
.wrap #circle .face2 .inner>div p { 
    font: 18px/1.3 "arial"; 
    color: #ccc;
}

/*face3*/
.wrap #circle .face3 .inner>div {
    width: 100%; 
    height: 253px; 
    margin-bottom: 20px;
}
.wrap #circle .face3 .inner>div .pic {
    width: 120px; 
    height: 120px; 
    background-repeat: no-repeat; 
    background-position: center top; 
    overflow: hidden; 
    border-radius: 60px; 
    border: 1px solid #fff; 
    float: left; 
    position: relative; 
    top: 15px; 
    background-size: cover;
}
.wrap #circle .face3 .inner>div:nth-of-type(1) .pic {
    background-image: url(../img/member1.jpg);
}
.wrap #circle .face3 .inner>div:nth-of-type(2) .pic {
    background-image: url(../img/member2.jpg);
}
.wrap #circle .face3 .inner>div:nth-of-type(3) .pic {
    background-image: url(../img/member3.jpg);
}
.wrap #circle .face3 .inner>div .con {
    width: 340px; 
    float: right;
}
.wrap #circle .face3 .inner>div .con h2 {
    color: #fff;
}
.wrap #circle .face3 .inner>div .con p {
    font: 18px/1.3 "arial"; 
    color: #ddd; 
    margin-top: 20px;
}
.wrap #circle .face3 .inner>div .con span {
    position: absolute; 
    bottom: 50px; 
    right: 50px; 
    font: 12px/1 "orbitron"; 
    color: aqua; 
    opacity: 0.5;
}


/*face4*/
.wrap #circle .face4 .inner>div p {
    font: 16px/1.3 "arial"; 
    color: #bbb;
    margin-top: 20px;
}
.wrap #circle .face4 .inner>div:nth-of-type(1) {
    width: 100%; 
    height: 600px; 
    margin-bottom: 20px;
}
.wrap #circle .face4 .inner>div:nth-of-type(1) video {
    width: 100%; 
    border: 1px solid #fff;
    margin-bottom: 30px;
}
.wrap #circle .face4 .inner>div:nth-of-type(2) {
    width: 100%; 
    height: 180px;
}
.wrap #circle .face4 .inner>div:nth-of-type(2) p {
    float: left;
}
.wrap #circle .face4 .inner>div:nth-of-type(2) em {
    float: right; 
    font-size: 12px; 
    color: #ccc;
    margin-top: 23px;
}

/*face5*/
.wrap #circle .face5 .inner>div {
    width: 100%; 
    height: 100%;
}
.wrap #circle .face5 .inner div img {
    margin-bottom: 40px;   
}
.wrap #circle .face5 .inner div .pic {
    width: 100%; 
    height: 250px; 
    border: 1px solid #bbb; 
    box-sizing: border-box; 
    background: rgba(0,0,0,0.3) url(../img/robot.png) no-repeat center center/cover; 
    margin-bottom: 50px;
}
.wrap #circle .face5 .inner div .reflection {
    position: absolute;
    top: 100%;
    right: 0%;
    transition: all 0.5s;
}
.wrap #circle .face5:hover .inner div .reflection{
    top: -40%;
}

/*face6*/
.wrap #circle .face6 .inner>div {
    width: 100%; 
    height: 185px; 
    margin-bottom: 20px;
}
.wrap #circle .face6 .inner>div i {    
    width: 22%;
    height: 100%;   
    border-right: 1px solid #bbb;
    float: left;   
    font-size: 50px;
    color: #fff;
    position: relative;
    text-align: left; 
    line-height: 90px;
    box-sizing: border-box;
    padding-left: 15px;
}
.wrap #circle .face6 .inner>div .con {
    width: 75%;
    height: 100%; 
    box-sizing: border-box; 
    padding-left: 40px;
    float: right; 
}
.wrap #circle .face6 .inner>div .con p {
    font: 18px/1 "arial"; 
    color: #999; 
}

/*.face7*/
.wrap #circle .face7 .inner>div {
    width: 100%; 
    height: 100%;
}
.wrap #circle .face7 .inner>div>div {
    width: 100%; 
    height: 100%;
    position: relative;
    overflow: hidden;
    border: 1px solid #aaa;
    box-sizing: border-box;
    padding: 50px;
}
.wrap #circle .face7 .inner>div>div video {
    width: auto; 
    height: 100%; 
    top: 0px; 
    left: 50%; 
    transform: translateX(-50%);
    position: absolute; 
    opacity: 0.9; 
}
.wrap #circle .face7 .inner>div>div h2 {
    position: absolute;
    top: 140px;
    left: 50px;
    font-size: 40px;
    color: #fff;
    text-align: left;
    line-height: 1.1;
    text-shadow: 2px 2px 5px #555;
    z-index: 2;
}
.wrap #circle .face7 .inner>div>div img:nth-of-type(1) {
    position: absolute; 
    bottom: 0px; 
    right: 0px;
}
.wrap #circle .face7 .inner>div>div img:nth-of-type(2) {
    position: absolute;
    bottom: 85px;
    right: -18px;
    width: 90%;
}

/*face8*/
.wrap #circle .face8 .inner>div:nth-of-type(1) {
    width: 100%; 
    height: 400px; 
    margin-bottom: 20px;
}
.wrap #circle .face8 .inner>div:nth-of-type(1)  i {
    color: #fff; 
    font-size: 200px; 
    position: absolute; 
    bottom: 60px; 
    left: 50px; 
    opacity: 0.9;
}
.wrap #circle .face8 .inner>div:nth-of-type(1)  span {
    font-weight: bold;
    font-size: 120px; 
    position: absolute; 
    bottom: 60px; 
    right: 60px; 
}
.wrap #circle .face8 .inner>div:nth-of-type(1)  span em {
    font: bold normal 60px/1 "arial";  
    position: absolute; 
    right: -20px; 
    top: -20px; 
}
.wrap #circle .face8 .inner>div:nth-of-type(2) {
    width: 290px; 
    height: 380px; 
    margin-right: 20px; 
    float: left; 
    text-align: center;
}
.wrap #circle .face8 .inner>div:nth-of-type(2)  i {
    font-size: 120px; 
    color: #fff; 
    opacity: 0.8; 
}
.wrap #circle .face8 .inner>div:nth-of-type(2)  h3 {
    margin-top: 30px; 
    margin-bottom: 14px; 
    font: bold 20px/1 "orbitron";
}
.wrap #circle .face8 .inner>div:nth-of-type(2) p {
    font: 16px/1 "arial"; 
    color: #ccc;
}
.wrap #circle .face8 .inner>div:nth-of-type(2) h4 {
    font-size: 40px; 
    margin-top: 20px; 
    letter-spacing: 3px; 
    position: relative;
}
.wrap #circle .face8 .inner>div:nth-of-type(2) h4 b {
    font: bold 24px/1 "arial"; 
    color: #ddd;
    position: absolute; 
    top: 0px; 
    right: 40px;
}
.wrap #circle .face8 .inner>div:nth-of-type(3) {
    width: 290px; 
    height: 380px; 
    float: left; 
    text-align: center;
}
.wrap #circle .face8 .inner>div:nth-of-type(3) i {
    font-size: 120px; 
    color: #fff; 
    opacity: 0.8; 
}
.wrap #circle .face8 .inner>div:nth-of-type(3) h3 {
    margin-top: 30px; 
    margin-bottom: 14px; 
    font: bold 20px/1 "orbitron";
}
.wrap #circle .face8 .inner>div:nth-of-type(3) p {
    font: 16px/1 "arial"; 
    color: #ccc;
}
.wrap #circle .face8 .inner>div:nth-of-type(3) h4 {
    font-size: 40px; 
    margin-top: 20px; 
    letter-spacing: 3px; 
    position: relative;
}
.wrap #circle .face8 .inner>div:nth-of-type(3) h4 b {
    font: bold 24px/1 "arial"; 
    color: #ddd;
    position: absolute; 
    top: 0px; 
    right: 40px;
}


/* 3D 배치 */
.face1 {
    transform: rotateY(0deg) translateZ(-764px);
}
.face2 {
    transform: rotateY(45deg) translateZ(-764px);
}
.face3 {
    transform: rotateY(90deg) translateZ(-764px);
}
.face4 {
    transform: rotateY(135deg) translateZ(-764px);
}
.face5 {
    transform: rotateY(180deg) translateZ(-764px);
}
.face6 {
    transform: rotateY(225deg) translateZ(-764px);
}
.face7 {
    transform: rotateY(270deg) translateZ(-764px);
}
.face8 {
    transform: rotateY(315deg) translateZ(-764px);
}

