@charset "utf-8";

/* 수열 선택자 - 2의 배수 
ul li:nth-of-type(2n) {
  border : 1px solid blue;
} */

/* 수열 선택자 - 3의 배수 
ul li:nth-of-type(3n) {
  border : 1px solid blue;
} */

/* 수열 선택자 - 홀수 
ul li:nth-of-type(2n-1) {
  border : 1px solid blue;
} */

/* 마지막 요소 선택자 
ul li:last-child {
  border : 1px solid blue;
} */

/* 짝수, 홀수 선택자 */
ul li:nth-of-type(even) {
  border : 1px solid red;
} 
ul li:nth-of-type(odd) {
  border : 1px solid blue;
}