@charset "utf-8";

section {
  width: 90vw; 
  height: 90vh; 
  margin: 4vh auto; 
  border: 1px solid #000;
}
section article {
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  background-position: center center;
}
section article:nth-of-type(1) {
  background-image: url(../img/car1.jpg);    
}
section article:nth-of-type(2) {
  background-image: url(../img/car2.jpg);    
}
section article {
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
