@charset "utf-8";

div {
  width: 400px;
  height: 400px;
  border: 1px solid #000;
  float: left;
  margin: 50px;
  }
  div img {
  width: 100%;
  height: 100%;
  }
  .box1 img {
    object-fit: fill;
  }
.box2 img {
object-fit: cover;
  }
.box3 img {
object-fit: contain;
  }