@charset "utf-8";

/* Position으로 자유롭게 구성 요소 배치하기 */
section {
	width: 600px;
	height: 200px;
}
section:nth-of-type(1) {
	background-color: pink;
}
section:nth-of-type(2) {
	background-color: lightblue;
	position: relative;
	top: -100px;
	left: 100px;
}