@charset "utf-8";

/* fixed로 특정 요소 위치를 고정하기 */
section {
  width: 100%;
  height: 100vh;
  }
  section article {
  width: 200px;
  height: 200px;
  background-color: #000;
  position: fixed;
  bottom: 50px;
  right: 50px;
  }
  section:nth-of-type(1) {
  background-color: orange;
  }
  section:nth-of-type(2) {
  background-color: lightblue;
}
section:nth-of-type(3) {
background-color: pink;
}