@charset "utf-8";

* {
	margin:0px;
	padding:0px;
}
main {
	width:100%;
	height:100vh;
	background:lightcyan;
}

section {
	width:100%;
	height:100%;
	border:10px solid blue;
	box-sizing:border-box;
	display:flex;
	flex-flow: row wrap; 
	/* flex-flow: column wrap; 기본축을 세로로 변경 */
	justify-content: space-evenly;
	justify-content: flex-start; /* 자식 요소를 왼쪽부터 정렬 */
	/* justify-content: flex-end; 자식 요소를 오른쪽부터 정렬 */
	/* justify-content: center; 자식 요소를 가운데에 정렬 */
	/* justify-content: space-between; 자식 요소를 양끝부터 나눠서 정렬 */
	/* justify-content: space-around; 자식 요소의 여백을 균일하게 나눠서 정렬 */
	/* justify-content: space-evenly; 자식 요소의 여백을 균일하게 나눠서 정렬 */
}

section article {
	width:100px;
	height:100px;   
	background:aqua;
	border:1px solid #000;
}