@charset "utf-8";

article {
	width: 500px; 
	border: 1px solid #000;
	box-sizing: border-box; 
	padding: 50px;
	margin: 50px auto;
}
article svg {
	width: 100%;
}

/* path 속성 바꾸기 */
article svg path {
  fill: transparent; 
  stroke: red;
  stroke-width: 1;
}