@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Orbitron');

* { 
    margin: 0;  
    padding: 0;
}
ol,ul {
    list-style: none;
}
a { 
    outline: 0; 
    text-decoration: none; 
}
img {
    border: 0;
}