@charset "utf-8";

section {
	width:100%;
	background:lightcyan;
	display:flex;
}
section article {       
	background:aqua;
	border:1px solid #000;
	box-sizing:border-box;
	font-size:50px;
	color:#fff;
	display:flex;
}

/* 요소의 여백 비율 확대하기
section article:nth-of-type(1) {
	flex-grow:1;
}
section article:nth-of-type(2) {
	flex-grow:1;
}
section article:nth-of-type(3) {
	flex-grow:1;
}
*/

/* 요소마다 여백 비율을 다르게 확대하기
section article:nth-of-type(1) {
	flex-grow:1;
}
section article:nth-of-type(2) {
	flex-grow:2;
}
section article:nth-of-type(3) {
	flex-grow:3;
}
*/