@charset "utf-8";

* {
	margin:0px;
	padding:0px;
}
main {
	width:100%;
	height:100vh;
	background:lightcyan;
}

section article {
	width:100px;
	height:100px;   
	background:aqua;
	border:1px solid #000;
}

section {
	border: 10px solid blue;
	display:inline-flex;
	flex-direction:column;
}