@charset "utf-8";

* {
	margin:0px;
	padding:0px;
}
main {
	width:100%;
	height:100vh;
	background:lightcyan;
}

section article {
	width:100px;
	height:100px;   
	background:aqua;
	border:1px solid #000;
}

section {
	width: 100%;
	border: 10px solid blue;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
/* flex-warp 속성을 사용해 줄 바꾸기
	flex-wrap: wrap; */
/* flex-flow를 사용해 flex-direction, flex-wrap 속성을 한꺼번에 적용하기 
	flex-flow: row wrap; */
}