@charset "utf-8";

* {
	margin:0px;
	padding:0px;
}
main {
	width:100%;
	height:100vh;
	background:lightcyan;
}
section {
	border:10px solid blue;
}
section article {
	width:100px;
	height:100px;   
	background:aqua;
	border:1px solid #000;
}

section {
	border:10px solid blue;
	display:flex;
}

section {
	border:10px solid blue;
	display:inline-flex;
}

section {
	border:10px solid blue;
	display:inline-flex;
	flex-direction:column;
}

section {
	width: 100%;
	border:10px solid blue;
	box-sizing:border-box;
	display:flex;
	flex-direction:row;
}

section {
	width: 100%;
	border:10px solid blue;
	box-sizing:border-box;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}

section {
	width: 100%;
	border:10px solid blue;
	box-sizing:border-box;
	display:flex;
	flex-flow:row wrap;
}