@charset "utf-8";

/* 글의 가로 세로 방향 정렬하기 */
p {
	border: 1px solid blue;
}
p:nth-of-type(1) {
	text-align: left;
}
p:nth-of-type(2) {
	text-align: center;
}
p:nth-of-type(3) {
	text-align: right;
}
p:nth-of-type(4) {
	text-align: justify;
}