@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
