@charset "utf-8";

/* 그림자 설정하기 */
.box1 {
    width:300px;
    height:300px;
    background:blue;
    margin:100px;
    float:left;
    box-shadow:10px 10px 30px black;
}

.box2 {
  width:300px;
  height:300px;
  background:red;
  margin:100px;
  float:left;
  box-shadow:-20px -20px 0px pink;
}