@charset "utf-8";

article {
  width: 100px;
  height: 100px;
  border: 1px solid red;
}
article:nth-of-type(1) {
  padding: 0px;
}
article:nth-of-type(2) {
  padding: 30px;
  box-sizing: border-box;
}