@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&display=swap");
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

ul,
ol,
li {
	list-style: none;
}

a {
	text-decoration: none;
	outline: 0;
}
